/* Header */
#header {
	height: 200px;
	background-image: url(https://imgur.com/a/BxkxJVD);
	background-repeat: no-repeat;
	background-position: 50% 20%;
	border-bottom: 1px solid black;
}

/*
#sr-more-link,
.dropdown.srdrop,
.sr-list {
	background-color: #6f6f6f;
}

.dropdown.srdrop .selected {
	background-image: url(https://i.imgur.com/uxbEnWQ.gif);
}

.sr-bar .separator {
	color: black;
}

#sr-header-area .selected a {
	color: black;
}

/* Bottom left menu - header */
/*
#header-bottom-left {
	position: absolute;
	bottom:0%;
}

#header-img.default-header {
	-webkit-filter: drop-shadow(5px 5px 5px #ffffff);
}
.pagename a {
	color: white;
}

.tabmenu li.selected a {
	border: 1px solid black;
	border-bottom-color: white;
}
*/
