/* Header */
#header {
	height: 200px;
	background-image: url(htps://i.imgur.com/S9pNJfk.jpg);
	background-repeat: no-repeat;
	background-position: 50% 20%;
}

#rd-header-area,
.sr-list,
.dropdown.srdrop,
.sr-more-link {
	background-color: #6f6f6f;
}

.dropdown.srdrop .selected {
	background-image: url(https://i.imgur.com/uxbEnWQ.gif);
	background-color: #6f6f6f;
}

.sr-bar,
.separator,
.choice {
	color: black;
}

/* Bottom left menu - header */
#header-bottom-left {
	position: absolute;
	bottom:0%;
}

.pagename,
a {
	color: white;
}

.tabmenu li.selected a {
	color: black;
	background-color: lightgrey;
	border: 1px solid #5f99cf;
	border-bottom: 1px solid lightgrey;
}

/* Bottom right menu - header */
#header-bottom-right {
	background-color: #6f6f6f;
}

/* Body */
body,
.side {
	background-color: lightgrey;
}

.entry,
.button,
.tagline {
	color: black;
}

.textarea {
	background: #fafafa;
}
